/* link não visitado */
a:link{
    color: red;
}

/* link visitado */
a:visited{
    color: green;
}

/* link mouse over */
a:hover{
    color: black;
}

/* link selecionado */
a:active{
    color: palevioletred;
}

.pseudoP::first-line{
    color: green;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}